@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* General Styles */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: #fff9e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Container */
.container {
  display: flex;
  background-color: #fff;
  width: 67vw;
  height: 90vh;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Left Section */
.left-section {
  width: 42%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f3ee;
}

.left-section img {
  width: 80%;
}

/* Right Section */
.right-section {
  width: 58%;
  padding: 2em;
  text-align: center;
}

h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

/* Form Styles */
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
}

.input-group {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: #f1f1f1;
  padding: 0.5em;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1.5em;
}

.input-group img {
  width: 16px;
  margin-right: 10px;
}

input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  padding: 8px;
  font-size: 14px;
}

.password-group {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: stretch;
}
.password-group > .input-group {
  width: 100%;
}

/* Sign Up Button */
.signup-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  width: 100%;
  background-color: #ff7f0e;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.signup-btn:hover {
  background-color: #e66900;
}

/* Login Text */
.login-text {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.login-text a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ff7f0e;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}
